* {
    margin: 0;
    padding: 0;
    font-family: 'Great Vibes', cursive;
  }

  
  a {
    color: #F6F6F6;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-list a:hover {
    opacity: 0.7;
    font-size: 35px;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background: #BAD7DF;
    height: 8vh;
  }
  body{
    overflow-x: hidden;
  }
  .background {
    background: url("midia/BG.JPG") no-repeat center center;
    background-size: cover;
    height: 92vh;

  }
  
  .nav-list {
    list-style: none;
    display: flex;
    font-size: 28px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #F6F6F6;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100vw;
      height: 92vh;
      background: #BAD7DF;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      opacity: 0.9;
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
    z-index: 1;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }





    .container{

        max-width: 1500px;
        margin: 0 auto;

        border: 0px solid black;
        display: grid;

        grid-template-areas: 
        "item box-text";
        grid-gap: 20pxx;
    } 
    .container img{
        width: 100%;
        border-radius: 20px;
    }     
    
    .item{
        width: 400px;
        height: 400px;
        grid-area: "item";
        border-radius: 20px;
    }
    .box-text{
       
        width: 1000px;
        height: 400px;
        border-radius: 20px;
        background-color: #BAD7DF;
        grid-area: "box-text";
    }
    .box-text h2{
        color: #F6F6F6;
        text-align: center;
        margin: 10px;
        text-shadow: black 1px 1px;
        font-size: 48px;

    }
    .box-text p{
        margin: 20px;
        text-align: justify;
        font-size: 30px;
        color: #000000;
        text-shadow: rgb(255, 255, 255) 1px 1px;
    }

    @media (max-width: 999px){
        .container{
            grid-template-areas: 
            "item box-text";
            max-width: 750px;
            
        }
        .item{
            width: 360px;
        }
        .box-text{
            width: 360px;
            height: 360px;
        }
        .box-text h2{
            font-size: 30px;
        }
        .box-text p{
            font-size: 17px;
        }
    }


    .container2{

        max-width: 1500px;
        margin: 0 auto;

        border: 0px solid black;
        display: grid;

        grid-template-areas: 
        "box-text2 item2";
        grid-gap: 20pxx;
    } 
    .container2 img{
        width: 100%;
        border-radius: 20px;
    } 

    .item2{
        width: 400px;
        height: 400px;
        grid-area: "item2";
        border-radius: 20px;
    }
    .box-text2{
       
        width: 1000px;
        height: 400px;
        border-radius: 20px;
        background-color: #FFE2E2;
        grid-area: "box-text2";
    }
    .box-text2 h2{
        color: #F6F6F6;
        text-align: center;
        margin: 10px;
        text-shadow: black 1px 1px;
        font-size: 48px;

    }
    .box-text2 p{
        margin: 20px;
        text-align: justify;
        font-size: 30px;
        color: #000000;
        text-shadow: rgb(255, 255, 255) 1px 1px;
    }

    @media (max-width: 999px){
        .container2{
            grid-template-areas: 
            "box-text item";
            max-width: 750px;
            
        }
        .item2{
            width: 360px;
            height: 360px;
        }
        .box-text2{
            width: 360px;
            height: 360px;
        }
        .box-text2 h2{
            font-size: 30px;
        }
        .box-text2 p{
            font-size: 17px;
        }
    }


    /*SLIDER*/

.mySlides img {
    width: 1280px;
    height: 720px;
}

.mySlides video {
    width: 1280px;
    height: 720px;
}

.next {
    position: relative;
}


.box-slider-img {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 0;
}

.bottoms-img {
    display: flex;
    justify-content: space-between;
}

.bottoms-img i{
    background-color: rgba(0, 0, 0, 0.505);
}

.bottoms-img .prev {
    font-size: 80px;
    justify-content: left;
    color: #EAE6E5;
    position: relative;
    bottom: 450px;
    margin: 15px;

}

.bottoms-img .next {
    font-size: 80px;
    color: #EAE6E5;
    justify-content: right;
    position: relative;
    bottom: 450px;
    margin: 15px;
    

}

.bottoms-img .next i:hover {
    font-size: 90px;
    cursor: pointer;
    transition: 0.3s;

}

.bottoms-img .prev i:hover {
    font-size: 90px;
    cursor: pointer;
    transition: 0.2s;

}

@media (max-width: 999px){
    .mySlides img {
        width: 480px;
        height: 270px;
    }
    
    .mySlides video {
        width: 4%;
        height: 270px;
    }
    .bottoms-img .prev {
        font-size: 40px;
        bottom: 180px;

    
    }
    
    .bottoms-img .next {
        font-size: 40px;
        bottom: 180px;    
    }
    
    .bottoms-img .next i:hover {
        font-size: 50px;
        cursor: pointer;
        transition: 0.3s;
    
    }
    
    .bottoms-img .prev i:hover {
        font-size: 50px;
        cursor: pointer;
        transition: 0.2s;
    
    }
}

.title {
    text-align: center;
    color: #BAD7DF;
    font-size: 26px;
    border-radius: 20px;
    border: #BAD7DF 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    margin-left: 35%;
    margin-right: 35%;
    left: 50px;
    margin-top: 10%;
  }

  .title2 {
    text-align: center;
    color: #BAD7DF;
    font-size: 20px;
    border-radius: 20px;
    border: #BAD7DF 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    margin-left: 20%;
    margin-right: 20%;
    left: 50px;
  }

  .title3 {
    text-align: center;
    color: #BAD7DF;
    font-size: 20px;
    border-radius: 20px;
    border: #BAD7DF 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    margin-left:30%;
    margin-right: 30%;
    left: 50px;
  }
  .casamento p{
    text-align: center;
    color: #F6F6F6;
    margin: 10px;
    font-size: larger;
    background-color: #BAD7DF;
    border-radius: 20px;
    margin-left: 45%;
    margin-right: 45%;
    text-shadow: 1px 1px #000000;
  }
